{% extends 'base.html' %}
{% block content %}
<div class="container-fluid mb-4">
    <div class="row">
        <div class="col">
            <h2 class="text-center mb-5">Asignar Tecnico a Cliente</h2>
            <h4 class="text-center">Lista de Tecnicos</h4>

            <table id="tabla_clientes" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in lista_usuarios %}
                    <tr>
                        <td>{{usuario.first_name}}</td>
                        <td>{{usuario.last_name}}</td>
                        <td>{{usuario.email}}</td>
                        <td><a class="badge badge-primary" href="#" data-toggle="modal" data-target="#modal_asignar_cliente" onclick="AgregarIdCliente('{{usuario.id}}')">Asignar cliente</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal_asignar_cliente" tabindex="-1" role="dialog" aria-labelledby="modal_asignar_cliente_label"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form action="{% url 'orden_trabajo_crear' %}" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_asignar_cliente_label">Asignar Tecnico</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="tabla_asignar_cliente" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Direccion</th>
                                <th>Ciudad</th>
                                <th>Comuna</th>
                                <th>Telefono</th>
                                <th>email</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cliente in lista_clientes %}
                            <tr>
                                <td>{{cliente.nombre_cliente}}</td>
                                <td>{{cliente.direccion_cliente}}</td>
                                <td>{{cliente.ciudad_cliente}}</td>
                                <td>{{cliente.comuna_cliente}}</td>
                                <td>{{cliente.telefono_cliente}}</td>
                                <td>{{cliente.correo_cliente}}</td>
                                <td>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio{{cliente.id}}" value="{{cliente.id}}" name="cliente_seleccionado"
                                            class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio{{cliente.id}}">Asignar</label>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}

                            <div class="form-row px-1">
                                <div class="form-group col-md-12">
                                    <label for="ascensor_seleccionado">Ascensor</label>
                                    <select class="form-control" id="ascensor_seleccionado" name="ascensor_seleccionado">
                                        <option>--Seleccione una opcion--</option>
                                        <option value="Schindler">Schindler</option>
                                        <option value="Ascensa">Ascensa</option>
                                        <option value="Otis">Otis</option>
                                    </select>
                                </div>
                            </div>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="tecnico_seleccionado" id="tecnico_seleccionado">
                    <button type="submit" class="btn btn-success">Confirmar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}