{% extends 'base.html' %}
{% block content %}
<div class="container-fluid mb-4">
    <div class="row">
        <div class="col">
            <h2 class="text-center mb-4">Lista de Clientes</h2>
            <table id="tabla_clientes" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Ciudad</th>
                        <th>Comuna</th>
                        <th>Telefono</th>
                        <th>email</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in lista_clientes %}
                    <tr>
                        <td>{{cliente.nombre_cliente}}</td>
                        <td>{{cliente.direccion_cliente}}</td>
                        <td>{{cliente.ciudad_cliente}}</td>
                        <td>{{cliente.comuna_cliente}}</td>
                        <td>{{cliente.telefono_cliente}}</td>
                        <td>{{cliente.correo_cliente}}</td>
                        <td><a href="clientes/eliminar/{{cliente.id}}">Borrar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2 class="text-center mb-4">Nuevo Cliente</h2>
            <form action="{% url 'cliente_crear' %}" method="post">
                {% csrf_token %}
                <div class="form-row px-1">
                    <div class="form-group col-md-4">
                        <label for="nombre_cliente">Nombre</label>
                        <input type="text" class="form-control" id="nombre_cliente" name="nombre_cliente" required
                            autofocus>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="direccion_cliente">Direccion</label>
                        <input type="text" class="form-control" id="direccion_cliente" name="direccion_cliente"
                            required autofocus>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="ciudad_cliente">Ciudad</label>
                        <input type="text" class="form-control" id="ciudad_cliente" name="ciudad_cliente" required
                            autofocus>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="comuna_cliente">Comuna</label>
                        <input type="text" class="form-control" id="comuna_cliente" name="comuna_cliente" required
                            autofocus>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="telefono_cliente">Telefono</label>
                        <input type="text" class="form-control" id="telefono_cliente" name="telefono_cliente" required
                            autofocus>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="correo_cliente">Email</label>
                        <input type="email" class="form-control" id="correo_cliente" name="correo_cliente" required
                            autofocus>
                    </div>
                </div>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Registrar Cliente</button>

            </form>
        </div>
    </div>
</div>
{% endblock %}