{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.2/css/responsive.bootstrap4.min.css">

    <link rel="icon" href="{% static 'img/icon/favicon.ico' %}">


    <link rel="manifest" href="/manifest.json" />


    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/dataTables/datatables.min.css' %}">

    <title>Mis Ascensores</title>
</head>

<body>
    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="#">MIS ASCENSORES</a>
                    <div id="close-sidebar">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="sidebar-header">
                    <div class="user-info">
                        <span class="user-name">{{user.first_name}} {{user.last_name}}</span>
                        {% if user.is_authenticated and user.is_staff %}
                        <span class="user-role">Administrador</span>
                        {% else %}
                        <span class="user-role">Técnico</span>
                        {% endif %}


                    </div>
                </div>
                <!-- sidebar-header  -->

                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>Administrador</span>
                        </li>
                        <li>
                            <a href="{% url 'index' %}">
                                <i class="fa fa-calendar"></i>
                                <span>Ordenes de Trabajo</span>
                            </a>
                        </li>
                        {% if user.is_authenticated and user.is_staff %}
                        <li>
                            <a href="{% url 'administrador_clientes' %}">
                                <i class="fas fa-users"></i>
                                <span>Administrar Clientes</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'administrador_tecnicos' %}">
                                <i class="fas fa-wrench"></i> <span>Asignar Tecnicos</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>

            <!-- sidebar-content  -->
            <div class="sidebar-footer">

                <a href="{% url 'cerrar_sesion' %}">
                    <i class="fa fa-power-off"></i>
                </a>
            </div>
        </nav>
        <!-- sidebar-wrapper  -->

        <main class="page-content">
            {% block content %}
            {% endblock %}
        </main>

    </div>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>

    <!--Data Tables-->
    <script src="{% static 'js/dataTables/datatables.min.js' %}"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.2/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.2/js/responsive.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tabla_ordenes_trabajo').DataTable({
                "paging": true,
                "responsive": true,
                "ordering": true,
                "info": false,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                }
            });

            $('#tabla_clientes').DataTable({
                "paging": false,
                "responsive": true,
                "ordering": false,
                "info": false,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                }
            });

            $('#tabla_asignar_cliente').DataTable({
                "paging": false,
                "responsive": true,
                "ordering": false,
                "info": false,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                }
            });

            $("#form-registro").validate({
		rules: {
			registro_nombre: {
				required: true,
				minlength: 4,
				maxlength: 60,

			},
			registro_apellido: {
				required: true,
				maxlength: 60,
				minlength: 4,
			},
			registro_email: {
				required: true,
				minlength: 4,
				maxlength: 60,
				email: true,
			},
			registro_fecha_nacimiento: {
				required:true,
				date:true

			},
			registro_sexo: {
				required:true,


			},
			registro_telefono: {
				required:true,
                number:true,
                maxlength:8,
                minlength:8

			},
			registro_contrasenia: {
				required: true,
				minlength: 4,
				maxlength: 25,

			},
			registro_repetir_contrasenia: {
				required: true,
				equalTo: "#registro_contrasenia",

			},
		},
		messages: {
			registro_nombre: {
				required: "No puede quedar en blanco",
				mixlength: "No debe ser menor a 4 caracteres",
				maxlength: "No debe ser mayor a 60 caracteres"

			},
			registro_apellido: {
				required: "No puede quedar en blanco",
				mixlength: "No debe ser menor a 4 caracteres",
				maxlength: "No debe ser mayor a 60 caracteres"
			},
			registro_email: {
				required:"No puede quedar en blanco",
                email:"Debe ingresar un correo valido"

			},
			registro_fecha_nacimiento: {
				date: "Ingresa una fecha válida"

			},
			registro_sexo: {
				required:"Por favor, selecciona una opción"

			},
			registro_telefono: {
				maxlength:"Se requieren 8 dígitos",
				minlength:"Se requieren 8 dígitos",
				required: "No puede quedar en blanco",


			},
			registro_contrasenia: {
				required: "No puede quedar en blanco",
				mixlength: "No debe ser menor a 4 caracteres",
				maxlength: "No debe ser mayor a 25 caracteres"

			},
			registro_repetir_contrasenia: {
				required: "No puede quedar en blanco",
				equalTo: "Contraseñas no coinciden"


			}
		}
	})
});
        function AgregarIdCliente(id_cliente){
                $("#tecnico_seleccionado").val(id_cliente)
            }
    </script>

    <script src="{% static 'js/app.js' %}"></script>


</body>

</html>