{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <table id="tabla_ordenes_trabajo" class="table table-striped table-bordered dt-responsive nowrap"  style="width:100%">
                <thead>
                    <tr>
                        <th>Trabajador</th>
                        <th>Cliente</th>
                        <th>N° Ascensor</th>
                        <th>Fecha Inicio OT</th>
                        <th>Hora Inicion OT</th>
                        <th>Hora Termino OT</th>
                    </tr>
                </thead>
                <tbody>
                        {% for ot in lista_ot %}
                        <tr>
                            <td>{{ot.usuario_ot.username}}</td>
                            <td>{{ot.cliente_ot.nombre_cliente}}</td>
                            <td>{{ot.ascensor_ot.modelo_ascensor}}</td>
                            <td>{{ot.fecha_ot}}</td>
                            <td>{{ot.hora_inicio_ot}}</td>
                            <td>{{ot.hora_termino_ot}}</td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}