{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <link rel="icon" href="{% static 'img/icon/favicon.ico' %}">

    <link rel="manifest" href="/manifest.json" />


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <title>Login</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 col-md-8 col-lg-6 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="{% static 'img/logo.png' %}" class="img-fluid mx-auto center-block" alt="" />
                        </div>
                        <h2 class="card-title text-center my-5">Iniciar sesión</h2>
                        <form id="form-signin" class="form-signin" method="post" action="{% url 'logearse' %}">
                            {% csrf_token %}
                            <div class="form-row px-1">
                                <div class="form-group col-md-12">
                                    <input type="usuario" id="usuario" name="usuario" class="form-control form-control-lg"
                                        placeholder="Correo electrónico" required autofocus>
                                </div>
                                <div class="form-group col-md-12">
                                    <input type="password" id="contrasenia" name="contrasenia" class="form-control form-control-lg"
                                        placeholder="Contraseña" required>
                                </div>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Iniciar
                                Sesión</button>
                        </form>

                        <!-- Boton modal registro usuario-->
                        <form class="form-signin">

                            <button type="button" class="btn btn-lg btn-success btn-block text-uppercase" data-toggle="modal"
                                data-target="#modal_registro_usuario">
                                Registro de Usuario
                            </button>
                            <hr class="my-4">
                            <a class="btn btn-lg btn-google btn-block text-uppercase" href="{% url 'social:begin' 'google-oauth2' %}"><i
                                    class="fab fa-google mr-2"></i>
                                <div class="d-none d-sm-inline-block">Iniciar Sesión con Google</div>
                            </a>
                            <a class="btn btn-lg btn-facebook btn-block text-uppercase" href=""><i class="fab fa-facebook-f mr-2 d-inline-block"></i>
                                <div class="d-none d-sm-inline-block">Iniciar Sesión con Facebook</div>
                            </a>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal_registro_usuario" tabindex="-1" role="dialog" aria-labelledby="modal_registro_usuario_label"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_registro_usuario_label">Registro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="form-registro" action="{% url 'registro_tecnico' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-row px-1">
                            <div class="form-group col-md-6">
                                <label for="registro_nombre">Nombre</label>
                                <input type="text" class="form-control" id="registro_nombre" name="registro_nombre"
                                    placeholder="Nombre" required autofocus>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="registro_apellido">Apellido</label>
                                <input type="text" class="form-control" id="registro_apellido" placeholder="Apellido"
                                    required autofocus>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="registro_email">Email</label>
                                <input type="email" class="form-control" id="registro_email" name="registro_email"
                                    placeholder="Email" required autofocus>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="registro_contrasenia">Contraseña</label>
                                <input type="password" class="form-control" id="registro_contrasenia" name="registro_contrasenia"
                                    placeholder="Contraseña" required autofocus>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="registro_repetir_contrasenia">Repita Contraseña</label>
                                <input type="password" class="form-control" id="registro_repetir_contrasenia" name="registro_repetir_contrasenia"
                                    placeholder="Repetir Contraseña" required autofocus>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.js' %}"></script>

    <script src="{% static 'js/app.js' %}"></script>

</body>

</html>